.banner {
      position: relative;
      height: 111px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: cover;
      @extend %flex-center;
}

.banner::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.30000001192092896;
      background-color: black;
      border-radius: inherit;
}

.banner__text {
      @include montserrat("medium", 2rem);
      text-align: left;
      color: white;
      z-index: 10000;
      margin-left: 16px;

      &--line-break {
            display: inline-block;
            word-break: break-word;
      }
}

// home cards 

.home-cards__container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin : 22px 0px 0px 0px;
      gap : 15px;

}



/*----------  MEDIA QUERIES  ----------*/

// Tablet

@media (min-width: 782px) and (max-width: 1200px) {
      .banner {
            height: 200px;
            border-radius: 25px;
            background-position: 0 50%;
      }

      .home-cards__container{
            margin: 50px 0 50px 0;
            gap : 60px;
            
      }

}



// Desktop

@media (min-width: 1200px) {
      .banner {
            height: 223px;
            border-radius: 25px;
            background-position: 0 50%;
      }
      .banner__text {
            font-size: 3rem;
      }

      .home-cards__container{
            gap : 50px;
            margin: 99px 0 93px 0;
            
      }
}
