
.home-cards__container{
      width: 100%;
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin : 22px 0px 0px 0px;
      gap : 15px;
      

}

.home-card__link{
      cursor: pointer;
      text-decoration: none;

}



/*----------  MEDIA QUERIES  ----------*/

// Tablet

@media (min-width: 768px) and (max-width: 1200px) {

      .home-cards__container{
            flex-direction: row;
            margin: 50px 0 50px 0;
            gap : 60px;
            
      }

}



// Desktop

@media (min-width: 1200px) {
      

      .home-cards__container{
            flex-direction: row;
            gap : 50px;
            margin: 99px 0 93px 0;
            
      }
}
