body {
      font-family: "Montserrat";
      margin: auto;
}

html{
      font-size: 12px; //taille de police de base
}


header {
      padding: 20px 20px 0 20px;
}

.navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.navlist {
      display: flex;
      margin: auto 0;

      .navlink {
            text-transform: uppercase;
            text-decoration: none;
            color: $coral-red;
            @include montserrat("medium", 1rem);

            &:hover {
                  text-decoration: underline;
            }

            &--home {
                  margin-right: 26px;
            }
      }
}


main {
      padding: 27px 20px;
}


footer {
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 66px 0 58px 0;

      & p {
            color: white;
            @include montserrat("medium", 1rem);
            display: flex;
            margin: 0 35%;
      }
}




/*----------  MEDIA QUERIES  ----------*/


// Desktop

@media (min-width: 1200px) {
      header,
      main {
            max-width: 1240px;
            margin: auto;
      }

      header {
            padding: 45px 0 0 0;
      }


      .navlist .navlink {
            text-transform: none;
            @include montserrat("medium", 2rem);

            &--home {
                  margin-right: 57px;
            }
      }

      footer {
            gap: 28px;
            & p {
                  @include montserrat("medium", 2rem);
            }
      }
}
