.home-card {
      width: 100%;
      height: 255px;
      border-radius: 10px;
      color: white;
      @include montserrat("medium", 18px);
      background-repeat: no-repeat;
      background-size: cover;

}

.home-card__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      text-decoration: none;

      &:hover {
            cursor: pointer;
      }
}

.home-card__overlay {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/*----------  MEDIA QUERIES  ----------*/

// Tablet

@media (min-width: 768px) {
      .home-card {
            width: 340px;
            height: 340px;
      }
}

// Desktop

@media (min-width: 1200px) {
      .home-card {
            width: 340px;
            height: 340px;
      }
}
