.dropdown-menu__container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      .dropdown-menu {
            background: $coral-red;
            border-radius: 5px;
            height: 35px;
            padding: 10px 0 10px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
      }
}

.dropdown-menu__label {
      @include montserrat("medium", 15px);
      color: white;
      
}

.dropdown-menu__arrow {
      width: 45px;
      height: 45px;
      padding: 10px;
      transition: transform 300ms ease-out;

      &.open {
            transform: rotate(-180deg);
      }
}

.dropdown-menu__options.open {
      
      animation: slideIn 300ms ease-out forwards;

}

@keyframes slideIn {
      0% {
            max-height: 0;
            transform: translateY(-50px); 
      }
      100% {
            max-height: 100%; 
            transform: translateY(0); 
      }
}

.dropdown-menu__options{
      padding: 15px;
}
.dropdown-menu__option {
      color: $coral-red;
      @include montserrat("regular", 13px);
      
}

/*----------  MEDIA QUERIES  ----------*/

// Tablet

@media (min-width: 768px) and (max-width: 1200px){
      .dropdown-menu__label {
            font-size: 18px;
            
      }
}

// Desktop

@media (min-width: 1200px) {

      .dropdown-menu{
            height: 54px !important;
            padding: 10px 0px 10px 15px !important;
      }

      .dropdown-menu__label {
            font-size: 24px;
            
      }

      .dropdown-menu__arrow{
            width: 100%;
            height: 100%;
            padding: 20px;
      }

      .dropdown-menu__option {
            font-size: 18px;
      }
}
